<div layout="column">
  <div flex>
    <div flex>
<div flex><br/><h1 align="center">Refer your friend to EduLink</h1></div>
      <div layout="row" flex>
        <div flex></div>
        <div flex>
        <md-content  layout-padding layout="column" layout-sm="column">
          <md-input-container>
            <label>Friend's Email</label>
            <input ng-model="user.email_ref" type="email">
          </md-input-container>
          <md-input-container >
            <label>Message</label>
            <textarea ng-model="user.message" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
          <md-button ng-click="send_email()" class="md-raised md-primary">Send</md-button>
        </md-content></div>
        <div flex></div>
      </div>

    </div>

  </div>
  <div flex>

  </div>

</div>
