<div flex>
</div>
<div layout="row">

  <div flex></div>

  <div flex>
    <div layout="column">
      <br/>
      <br/>

     <!-- <div flex><img src="assets/images/logo.png" style="width:200px;height:50px;" align="center"></div>-->
      <br/><br/>
      <md-content layout-padding class="autoScroll">
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label>User Name</label>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
          <input ng-model="name" type="text">
        </md-input-container>
        <md-input-container>
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="password"></md-icon>
          <input ng-model="password" type="password" placeholder="Password" ng-required="true">
        </md-input-container>


      </md-content>
      <md-button class="md-raised md-primary" ng-click="autho()">Login</md-button>
    </div>
    Do not have an Account?<md-button class="md-raised md-primary" ng-click="signUp()">SignUp</md-button>
  </div>
  <div flex hide-sm>

  </div>
</div>
