<!--
<div layout="column" layout-wrap>
  <div flex="33">
    <div layout="row" flex="20">
      <md-toolbar layout-align="center center">

        <h2 class="md-toolbar-tools">
          RefferMe
        </h2>

        <div></md-toolbar>
          <h2 class="md-toolbar-tools">
            <div layout="row" layout-align="right right">
              <md-button ng-click="logout()">Logout</md-button>
            </div>
          </h2>
        </div>
    </div></div></div>




  </div>
  <div flex>

    <div ui-view="main">

    </div>
  </div>
</div>
</div>
</div>


</div>
-->
<div layout="column">
  <div flex="33">
    <md-toolbar class=" md-accent">
      <h2 layout="row" class="md-toolbar-tools">
        <div flex="90">
          <span>RefferMe</span>
          <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close
           </md-button>-->
          <md-button ng-click="toggleLeft()"
                     class="md-primary" hide-gt-md>
            Menu
          </md-button>
          <!--<md-button >Home</md-button>
          <md-button ng-click="dashboard()">dashboard</md-button>
          <md-button ng-click="refer()">Refer</md-button>-->
        </div>
        <div flex="8">
          <div flex>
            <label align="right" ng-show="role==1">Admin</label></div>
          <div flex>
            <md-button align="right" ng-click="logout()">Logout</md-button>
          </div>
          <!-- <md-button ng-click="signup()">signup</md-button>-->
        </div>
      </h2>

    </md-toolbar>
  </div>
  <div flex>
    <div layout="row">
      <div flex="10">

        <md-sidenav style="height:1500px ;" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">

          <md-content layout-padding>

            <div layout="column" layout-fill="">
              <md-list-item ng-click="home()">

                <p> Home </p>

              </md-list-item>
              <md-list-item ng-show="role==0" ng-click="dashboard()">

                <p>Dashboard</p>
              </md-list-item>
              <md-list-item ng-click="refer()">

                <p>Refer</p>
              </md-list-item>
              <md-list-item ng-show="role==1" ng-click="adminDashboard()">

                <p>Dashboard</p>
              </md-list-item>


            </div>
          </md-content>
        </md-sidenav>
      </div>
      <md-content flex="90" layout-padding>
        <div flex layout="column" ui-view="main" layout-fill layout-align="top center">

          <div>

          </div>

        </div>
      </md-content>


    </div>
  </div>

</div>
