<div layout="column">
  <div flex>
    <div flex>
      <div layout="row" layout-margin>
        <div style="background-color:#2022a7;" flex flex-order="1">
          <h3 align="center" style="color:white">Total Emails sent for Edulink</h3>

          <h1 align="center">{{sentEmails}}</h1>
        </div>

        <div style="background-color:#ada208;" flex flex-order="3">
          <h3 align="center" style="color:white">Total joined</h3>

          <h1 align="center">0</h1>
        </div>

        <div style="background-color:#8f807c;" flex flex-order="3">
          <h3 align="center" style="color:white">Total Cash</h3>

          <h1 align="center">0</h1>
        </div>
      </div>
    </div>
    <div flex>

    </div>
  </div>
  <br/><br/><br/>
  <md-divider></md-divider>
  <div flex layout="row">
    <div flex>
      <h3>Student Register</h3>
      <md-input-container>
        <label>Enter the code</label>
        <input ng-model="user.id">
      </md-input-container>
      <md-button align="left " ng-click="sendUid()" class="md-raised md-primary">Submit</md-button>
    </div>
    <div flex>

    </div>
    <div flex></div>
  </div>

</div>
