<div flex>
</div>
<div layout="row">

  <div flex></div>

  <div flex>
    <div layout="column">
      <br/>
      <br/>

      <div flex><img src="assets/images/logo.png" style="width:200px;height:50px;" align="center"></div>
      <br/><br/>
      <md-content layout-padding class="autoScroll">
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label>User Name</label>

          <input ng-model="name" type="text">
        </md-input-container>
        <md-input-container>
          <!-- Use floating placeholder instead of label -->

          <input ng-model="password" type="password" placeholder="Password" ng-required="true">
        </md-input-container>


      </md-content>
      <md-button class="md-raised md-primary" ng-click="autho()">SignUp</md-button>
    </div>
  </div>
  <div flex hide-sm>

  </div>
</div>
